[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pygments = "*"
gitpython = "*"
python-dotenv = "*"
cryptography = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.13"

[scripts]
new = "python -m blog new"
up = "python -m blog up"
encrypt = "python -m blog secret --encrypt"
decrypt = "python -m blog secret --decrypt"
